 
<h1 style="color:#198754; text-align: center;">create new student</h1>
<form action="/students" method="post">
    {{!-name}}
    <div>
        <label for="">Name</label>
        <input type="text" class="form-control"  name="name" style=" border:solid  rgb(151, 185, 173) ;">
    </div>
 {{!-id}}
      <div>
        <label for="">id</label>
        <input type="text" class="form-control"  name="id" style=" border:solid  rgb(151, 185, 173) ;">
    </div>
   <br>
<div>
    <button type="text" class="btn btn-success">Save</button>
    </div>
   
<br><br><br><br>
<img src="https://tse1.mm.bing.net/th?id=OIF.B26CXRJ3tfumlzdCUlaXhA&pid=Api&P=0&h=180" width="700" height="300" >