<div class="container">
    <div class="row mt-4">
        <div class="col-md-3">
            <img src="https://png.pngtree.com/png-clipart/20190619/original/pngtree-student-glyph-black-icon-png-image_4008235.jpg" height="150px" width="150px">
            
        </div>
        <div class="col-md-9">
            <h1 class="display-4">Profile </h1>
            <hr>
       
                   <ul>
                          <li>Math1</li>
                          <li>Discrete</li>
                          <li>Java</li>
                    </ul>
            <hr>
        
        </div>
    </div>
</div>