
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="background-image: url('https://www.itl.cat/pngfile/big/157-1572257_professional-website-background-images-hd-professional-emails-background.jpg');">
  

<h1 style="color:#198754; text-align: center;">Log in</h1>
<form action="/subject2" >
 <div>
        <label for="" style="color:#198754; text-align: center;">Username</label>
        <input  type="text" class="form-control"  name="name" style=" border:solid  rgb(151, 185, 173) ;">
  </div>
   <div>
        <label for="" style="color:#198754; text-align: center;">Password</label>
        <input  type="password" class="form-control"  name="name" style=" border:solid  rgb(151, 185, 173) ;">
    </div>
  
     <br> 
  <button type="submit" class="btn btn-success">Sign in</button>
</form>
</body>
</html>