<div class="card" style="width: 18rem;">
  <img src="https://www.timeshighereducation.com/sites/default/files/styles/the_breaking_news_image_style/public/subjectbooks-istock.jpg?itok=C0wdpAVl" >
  <div class="card-body ">
    <h3 class="card-title text-success">Subjects</h3>
    <a href="/subjects/create" class="btn btn-success">Add a new Subject</a>
    <ul class="text-success">
    {{#each subjectsnames}}
    
    <li ><a href="/subjects/{{_id}}"  class="text-success">{{name}}</a></li>
      {{/each}}
</ul>
  </div>
</div>

