<h1 style="color:#198754;">
   name: {{subname.name}}
</h1>

<div style="color:#198754; ">
code:{{subname.code}}
</div>
<div >
department:{{subname.department.name}}
</div>
<div>
previous_subjects:{{subname.previoussubjects}}
</div>